.bg-light {
  background-color: #ffffff !important; }

.bg-background {
  background-color: #FFF3E7; }

.btn-primary {
  background-color: #FFF3E7 !important;
  border: 0;
  color: #F68F22; }

.text {
  font-size: 22px;
  color: #585654; }

b {
  color: #F68F22 !important; }

.ao {
  font-size: 16px;
  color: #1A1612; }

b {
  color: black;
  font-weight: 600; }

h1 {
  font-weight: 700;
  color: #F68F22; }

.navbar {
  background-image: linear-gradient(to right, #F68F22, #FFF3E7); }

.card-body {
  color: #1A1612; }

.sidebar__container {
  min-height: 100vh;
  margin-left: -10.4rem;
  transition: margin .25s ease-in-out; }

.sidebar__container {
  width: 10.4rem; }

.sidebar__menu {
  position: fixed; }

.sidebar__logo {
  padding: 0.875rem;
  padding-top: 0.4375rem;
  padding-bottom: 0; }

.list-group-item {
  color: #F68F22;
  font-weight: 400; }

#content-wrapper.toggled .sidebar__container {
  margin-left: 0; }

/*.sidebar__logo3 {
    padding: 0.875rem;
    padding-top: 0.4375rem;
    padding-bottom: 0;
} */
body {
  font-family: 'Mulish', sans-serif;
  font-weight: 300;
  color: #F68F22; }

.footer {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600; }

.textFooter {
  font-family: 'Montserrat', sans-serif;
  color: #585654;
  text-align: center; }

.imgFooter {
  box-shadow: 1px, 0px, 10px, 0px; }

.navbar {
  position: sticky;
  top: 0;
  z-index: 2; }

.container {
  max-width: 960px;
  margin: 0 auto; }

.parallax {
  background-image: url(../img/parallax.png);
  background-color: #1A1612;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: soft-light; }

.parallax .row {
  color: #ffffff;
  margin: 0;
  font-size: 16px;
  padding: 75px; }

.parallax .btn {
  background-color: #F68F22; }

@media (max-width: 525px) {
  .sidebar__container {
    position: fixed;
    z-index: 2; }
  .sidebar__menu {
    position: relative; }
  body {
    text-align: center; }
  .page__content {
    display: flex;
    flex-direction: column; }
  img {
    display: flex;
    justify-content: center; }
  .list-group-item {
    text-align: start; }
  .parallax .row {
    padding: 0rem; } }

@media (min-width: 1150px) {
  .sidebar__container {
    margin-left: 0; }
  #content-wrapper.toggled .sidebar__container {
    margin-left: -10.4rem; } }

@media (min-width: 1350px) {
  .img__criptos {
    width: 30rem !important; } }
