body{
    font-family: 'Mulish', sans-serif;
    font-weight: 300;
    color:$primary;
}
.footer{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.footer h3{
    text-align: center;
}
.textFooter{
    font-family: 'Montserrat', sans-serif;
    color: $text;
    text-align: center;
    font-size: 12px;
}
.nameFooter{
    position: relative;
    bottom: -20px;
}
.imgFooter{
    border-radius: 50%;
}
.navbar{
    position: sticky;
    top: 0;
    z-index: 2;
}
.container{
    max-width: 960px;
    margin: 0 auto;
}
.parallax{
    background-image: url(../img/parallax.png);
    background-color: $ao;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: soft-light;
}
.parallax .row{
    color: $light;
    margin: 0;
    font-size: 16px;
    padding: 75px;
}
.parallax .btn{
    background-color: $primary;
}
.parallax h2{
    text-align: center;
}