body{
    font-family: 'Mulish', sans-serif;
    font-weight: 300;
    color:$primary;
}
.footer{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.textFooter{
    font-family: 'Montserrat', sans-serif;
    color: $text;
    text-align: center;
}
.imgFooter{
    box-shadow: 1px, 0px, 10px, 0px;
}
.navbar{
    position: sticky;
    top: 0;
    z-index: 2;
}
.container{
    max-width: 960px;
    margin: 0 auto;
}
  .parallax h1{
    text-align: center;
    margin: 0;
    font-size: 160px;
    padding: 75px 0px 75px 0px;
}
  .parallax{
    background-image: url(../img/parallax.png);
    background-color: $light-orange;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}